body {
	background-color: #f0f0f0;
	color: #484644;
	padding: 10px 5em;
}

body > * {
	width: 100%;
}

h1 {
	font-size: 2.5em;
}

p {
	text-align: justify;
	font-size: 1.2em;
}

q {
	font-style: oblique;
	font-weight: bold;
	float: right;
}

footer {
	height: 2em;
}