.control-group.field_password .show-password {
    float: right;
    margin-right: 10px;
    margin-top: -25px;
    opacity: 0.5;
    text-decoration: none;
    cursor: pointer;
    z-index: 100;
    color: var(--black);
}

.control-group.field_password input {
	padding-right: 30px; 
}

.show-password::BEFORE {
    content: "\f070";
}

.has-error .show-password::BEFORE {
    color: var(--danger);
}

.has-success .show-password::BEFORE {
    color: var(--success);
}

.show-password.slash::BEFORE {
    content: "\f06e";
}

.password-rules .valid {
	color: var(--success);
}

.password-rules > *::BEFORE {
    content: "\f00d";
    margin-right: 0.5em;
}

.password-rules > *.valid::BEFORE {
	content: "\f00c";
    margin-right: 0.3em;
}